
body{
    background: #ccccc3;
}

.geral{
    background: rgb(177, 169, 169);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  /*  border: black;
    border-style: solid; */
}

.cabec{    
    padding-top: 1px;
    margin-top: 90px;    
}

.bordas{
    border-width: 3px;
    border-style: solid;
    border-color:blue;
}

.cabec-icon{
    padding: 0px;    
    background: #ccccc3;
}

.display{
    display: inline-block;
    vertical-align: top;
}

.cabec-foto{    
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 30%;    
}

.info-principal{
    margin-left: 10px;    
}

.folder{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background: #ccccc3;
    border: black;
    border-style: solid;
    border-bottom: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(196, 188, 188);
}

#folder-geral{
    padding-top: 10px;
}

.info-geral{
    padding-top: 0px;
    background-color: rgb(196, 188, 188);
}

ul{
    padding-top: 0px;
}